.bzrignore
.bzr/
**/build*/
**/Build*/
dist/
QtBuild/
BuildXcode/
nbproject/private/private.xml
**/.DS_Store
**/._*
*.user
tmp/

nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

vgcore.*

**/.DS_Store
**/._*
