.bzrignore
.bzr/
build*/
dist/
QtBuild/
BuildXcode/
nbproject/private/private.xml
.DS_Store
nbproject/.DS_Store
*.user

nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

vgcore.*
